doctype html
html(lang='en')

html
    head
        title Look Inna Book - Control Panel
        
body
    include ./partial.pug
    div 
        h3 add new book:
        h3 if ISBN exists?
        |
        | ISBN:
        |
        input(type="text" id="isbn")
        |
        | NAME:
        |
        input(type="text" id="name")
        br
        |
        | stockQuantity:
        |
        input(type="number" id="stockQuantity" value="0")
        |
        | royalty:
        |
        input(type="number" id="royalty" value="0")
        br
        |  
        | lastMonthSales:
        |
        input(type="number" id="lastMonthSales" disabled value="0")
        |    
        | page_num:
        |
        input(type="number" id="page_num" value="0")
        br
        |    
        | price:
        |
        input(type="number" id="price" value="0")
        |    
        | pid:
        |
        select(id='pid') 
            each pub in publisher
                            option #{pub.pid}
        br
        |      
        | author(s) (format: fname,lname&fname2,lname2&...):
        |
        input(type="text" id="author" value = "bob,ross&george,ross")
        br
        |          
        | genre(s) (format: genre1,genre2,genre3,...):
        |
        input(type="text" id="genre" value = "mystery,horror")     
        br
        |
        button(type = "button" id="createBook") Create Book
        |    
    div
        br
        h1 Control Panel
        div#list
            h2 List of Books:
            div
                each book in books
                    ul
                    <p><a href="/removeBook/#{book.isbn}"> Remove </a>      ISBN: #{book.isbn} #{book.name}</p>
                br
    script(type="text/javascript" src="/eventHandle.js")