div
    | currentUser(UID): #{currUID}
    |
    | <a href="/getCart/"> Cart </a>
div(id="redirect")
    |
    a(href="/books") Home 
    |   
    a(href="/users") Users
    |
    |   
    a(href="/search") Search
    |
    if currUID == 0
        |
        |
        a(href="/reports") Reports