doctype html
html(lang='en')

html
    head
        title title Look Inna Book - SEARCH
        //- ?isbn=...&price=...
    body
        include ./partial.pug
        
        div(class="searchContents")
            h1 
            div#dropMenu
                select(id='attributes') Test
                    optgroup(label="book")
                        option ISBN
                        option stockQuantity
                        option royalty
                        option lastMonthSales
                        option page_Num
                        option price 
                        option bookName 
                    optgroup(label="orders") 
                        option orderID 
                        option cur_location
                        option orderBilling 
                        option orderShipping
                    optgroup(label="order_contents") 
                        option orderQuantity
                        option orderID_contents
                    optgroup(label="publisher") 
                        option pID
                        option address
                        option email 
                        option banking
                    optgroup(label="has_numbers") 
                        option phoneNumber
                    optgroup(label="book_records") 
                        option author
                        option genre
                    optgroup(label="bookstore") 
                        option storeID
                        option storeName
                    optgroup(label="users") 
                        option UID
                        option userBilling
                        option userShipping 
                        option account_type 
                        option cartID 
                    optgroup(label="cart") 
                        option cartQuantity

                //- if table.option
                select(id='ordering') ordering
                    option ASC 
                    option DESC  

                input(type="text" id="userInput" placeholder="Must be exact, or blank")               

                button(type="button" id="filter") Submit
                br
                br
        
        div(class="searchContents")
            table(border='2')
                tr
                    each attribute in columns
                        th #{attribute}
                        //- each value,key in attribute
                each row in table.rows
                    tr
                    each attribute in columns
                        td
                            p #{row[attribute]} 
        script(type="text/javascript" src="/eventHandle.js")