doctype html
html(lang='en')

html
    head
        title SEARCH
        //- ?isbn=...&price=...
body
    div#main
        input(type="text" id="isbn") isbn
        input(type="text" id="price") price
        input(type="text" id="author") author
        input(type="text" id="genre") genre
        input(type="text" id="publiserEmail") publisher email
        input(type="text" id="publisherPhone") phone number
        input(type="text" id="") ..
        input(type="text" id="") ...
        input(type="text" id="") ... 
        input(type="text" id="") ...
        button(type ="button" id="submit") Search

script(type="text/javascript" src="./search.js")